.testimonios {
    align-items: center;
    /*block-size: 330px;*/
    text-align: center;
    padding-block: 24px;
}

.testimonios-content p {
    font: var(--tamaño5);
    font-weight: 700;
}

.testimonios-content span {
    font: var(--tamaño5);
    color: #310a907d;
}
.content3 {
   border-radius: 22px;
   background-color: #ffffff57;
   padding: 20px;
}

@media screen and (min-width: 768px) {
    .testimonios {
        display: flex;
        height: 450px;
    }
    .content3 {
        width: 70%;
        margin: auto;
    }
}